extends layout

block content
    p A companion API to FaceBook's Open Graph API that allows you to post longer, fully formatted stories to users timelines.
    p <a href="/post/new">Create a post</a> - free while in alpha! *
    small * Note: we will probably loose / delete / mangle your post at some point before reaching the beta stage.

