extends layout

block set_options
    - var title = "Create a new story to to post to Facebook"

block content
    form.form-horizontal(action="/post/new", method="POST")
        legend
            | New Story&nbsp;
            i.icon-align-left
        .control-group
            label.control-label(for="name") Name:
            .controls
                input.span5(name="name", maxlength="80")
        .control-group
            label.control-label(for="picture") Picture URL:
            .controls
                input.span5(name="picture")
        .control-group
            label.control-label(for="body") Body:
            .controls
                textarea.span5(name="body", rows="5")
        .control-group
            .controls
                button.btn.btn-primary.icon-facebook(type="submit")  Post to Facebook
