extends layout

block set_options
    - var title = "Pricing"

block content
    h1 Pricing is not yet finalized

    p You can expect something in the $20-50 range per month for small-medium sites and more like $200-300 for larger sites.
